<% if group.categories %>
  <% group.categories.each do |categoryKey| %>
    <% category = data.categories[categoryKey] %>
    <% puts categoryKey unless category%>
    <% name = if category.marketing then category.name else "*#{category.name}*" end %>
    <% kbdElement = "" %>
    <% if category.maturity && (category.maturity != "planned") %>
      <% kbdElement = " <kbd>#{category.maturity.capitalize}</kbd>" %>
    <% end %>
    <% if category.available && (category.available.year == Date.today.year) %>
      <% kbdElement = (category.available <= Date.today) ? " <kbd>New in #{Date.today.year}</kbd> " : " <kbd>Planned #{Date.today.year}</kbd> " %>
    <% end %>
    <% if category.available && (category.available.year > Date.today.year) %>
      <% kbdElement = " <kbd>Planned #{category.available.year}</kbd> " %>
    <% end %>
    <% categoryLinks = [] %>
    <% categoryLinks << "[Marketing Page](#{category.marketing_page})" if category.marketing_page %>
    <% categoryLinks << "[Documentation](#{category.documentation})" if category.documentation %>
    <% categoryLinks << "[Direction Page](#{category.direction})" if category.direction %>
    <% links = categoryLinks.empty? ? '' : (' \\| ' + categoryLinks.join(' • ')) %>
<%= "  * #{name}#{kbdElement ? kbdElement : ''}#{links}" %>
  <% end %>
<% end %>
